a {
    text-decoration: none;

    &:hover {
        background-color: $color__off-white;
        color: $color__black;
    }
}

.o-image-link {
    &:hover {
        background-color: initial;
    }
}

.o-contact-link {
    &:hover {
        background-color: initial;
        color: $color__off-white;
        font-size: 1.2em;

        transition-duration: 800ms;
    }
}