a, .o-link {
    text-decoration: none;

    &:hover {
        opacity: .8;
        transition-duration: 400ms;
    }
}

.o-link--emphasis {
    color: $color__emphasis;

    &:hover {
        background-color: $color__emphasis;
        color: $color__black;

        opacity: 1;
    }
}

.o-image-link {
    &:hover {
        background-color: initial;

        opacity: 1;
    }
}

.o-contact-link {
    &:hover {
        background-color: initial;
        color: $color__off-white;
        font-size: 1.2em;

        opacity: 1;
        transition-duration: 800ms;
    }
}