body {
    font-family: 'Josefin Sans', sans-serif;
}

.o-page-header {
    display: inline-block;

    border-bottom: 1px solid $color__off-white;
    padding-right: 10px;

    font-size: 44px;
    font-style: italic;
    font-weight: 600;

    text-transform: uppercase;
}

.o-page-header--team {
    text-transform: lowercase;
    border-bottom: none;
}

.l-page-header {
    margin-top: 80px;

    position: relative;
    right: 0;

    opacity: 1;
    transition-duration: 400ms;
}

.l-page-header--team {
    margin-top: 40px;
}

.l-page-header--hidden {
    right: 50px;

    opacity: 0;
}