.l-about .page {
    padding-bottom: 100px;
}

@include media-breakpoint-down(lg) {
    .l-about .l-site-footer__site-info {
        display: inline-block;

        position: initial;
        bottom: unset;

        transform-origin: unset;
        transform: unset;
    }
}
