.l-site-footer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    height: 100vh;
    max-height: 900px;
    
    padding-bottom: 28px;
    
    color: $color__off-white;
    font-weight: 300;

    z-index: 0;
}

.l-site-footer__site-info {
    display: inline-block;

    position: absolute;
    bottom: 38px;

    transform-origin: bottom left;
    transform: rotate(270deg) translateY(40px);
}

.l-site-footer__contact {
    position: absolute;
    bottom: 38px;
    right: 15px;

    font-size: $font-size__25;

    a {
        color: inherit;
        text-decoration: none;
    }
}

@include media-breakpoint-down(md) {
    .l-site-footer__site-info {
        transform: none;
    }
    .l-site-footer {
        position: initial;
        height: initial;
        padding: 2em;
    }
    .l-site-footer__site-info {
        position: initial;
    }
}

@include media-breakpoint-down(xs) {
    .l-site-footer__contact {
        display: none;
    }
}