.l-site-footer {
    position: absolute;
    bottom: -4em;
    left: 0;
    right: 0;

    padding-bottom: 28px;
    
    color: $color__off-white;
    font-weight: 300;
}

.l-site-footer__site-info {
    display: inline-block;

    position: absolute;
    bottom: 38px;

    transform-origin: bottom left;
    transform: rotate(270deg) translateY(40px);
}

.l-site-footer__contact {
    float: right;

    font-size: $font-size__24;

    a {
        color: inherit;
        text-decoration: none;
    }
}

@include media-breakpoint-down(xs) {
    .l-site-footer__site-info {
        transform: none;
    }
    .l-site-footer__contact {
        display: none;
    }
    .l-site-footer {
        position: initial;
        padding: 2em;
    }
    .l-site-footer__site-info {
        position: initial;
    }
}