.l-work-form {
    margin-top: 48px;

    position: relative;
    right: 0;
    
    opacity: 1;
    transition-duration: 800ms;
}

.l-work-form--hidden {
    right: 100px;

    opacity: 0;
}

.c-work-form__field {
    background-color: $color__off-white;

    border: none;
    // border-bottom: 1px solid $color__off-white;

    color: $color__black;
    font-size: $font-size__22;
    font-weight: 300;
}

.l-work-form__field {
    display: inline-block;
    width: 100%;

    margin-bottom: 30px;
    margin-left: 0;
    margin-top: 4px;
    padding: 8px 12px;
}

.c-work-form__textarea {
    background-color: $color__off-white;
    color: $color__black;
    border: none;

    font-size: $font-size__22;
    font-weight: 300;
}

.l-work-form__textarea {

    display: inline-block;
    height: 90px;
    width: 100%;

    padding: 8px 12px;
    margin-top: 4px;
}

.c-work-form__submit {
    background-color: #333;

    border: none;

    color: $color__emphasis;
    font-style: italic;
    font-size: $font-size__24;

    &:hover {
        background-color: $color__emphasis;
        color: $color__black;
    }
}

.l-work-form__submit {
    margin-top: 30px;
    padding: 8px 16px;
}

.l-work-form__field--half {
    &:last-of-type {
        margin-left: .5%;
    }
    &:first-of-type {
        margin-left: 0;
    }
}

.c-work-form__label {
    color: $color__off-white;
    font-size: $font-size__22;
    font-weight: 300;
}

.l-work-form__label {
    display: block;
}

.l-work-form__container {
    display: inline-block;
    width: 100%;
}

.l-work-form__container--half {
    width: 49%;
}

@include media-breakpoint-down(sm) {
    .l-work-form__container {
        width: 100%;
    }
}