.l-work-form {
    margin-top: 48px;

    position: relative;
    right: 0;
    
    opacity: 1;
    transition-duration: 800ms;
}

.l-work-form--hidden {
    right: 100px;

    opacity: 0;
}

.c-work-form__field {
    background-color: $color__off-white;

    border: none;
    // border-bottom: 1px solid $color__off-white;

    color: $color__black;
    font-size: $font-size__24;
    font-weight: 300;
}

.l-work-form__field {
    display: inline-block;
    width: 100%;

    margin-bottom: 30px;
    padding: 4px;
    padding-top: 26px;
}

.c-work-form__textarea {
    background-color: $color__off-white;

    border: none;

    font-size: $font-size__24;
    font-weight: 300;
}

.l-work-form__textarea {

    display: inline-block;
    height: 90px;
    width: 100%;

    margin-top: 16px;
}

.c-work-form__submit {
    background: none;

    border: none;

    color: $color__emphasis;
    font-style: italic;
    font-size: $font-size__38;

    &:hover {
        background-color: $color__emphasis;
        color: $color__black;
    }
}

.l-work-form__submit {
    margin-top: 30px;
}

.l-work-form__field--half {
    width: 49.5%;

    &:last-of-type {
        margin-left: .5%;
    }
}

.c-work-form__label {
    color: $color__off-white;
    font-size: $font-size__30;
    font-weight: 300;
}

.l-work-form__label {
    display: inline-block;
    width: 100%;
}

.l-work-form__label--half {
    width: 48%;
}

.l-contact__background {
    background-color: #1a1a1a;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -128px;
    z-index: 0;
}