.c-hero {

}

.l-hero {
    margin-top: 125px;
}

.c-hero__intro {
    position: relative;
    right: 0;

    font-size: 50px;
    font-weight: 100;
    text-align: center;

    opacity: 1;
    transition-duration: 800ms
}

.l-hero__intro {
    margin-bottom: 0;
}

.l-hero__intro--hidden {
    opacity: 0;
}

.c-hero__title {
    position: relative;

    font-size: 72px;
    font-style: italic;
    font-weight: 400;

    opacity: 1;
    transition-duration: 1200ms;
}

.l-hero__title {
    margin-top: 42px;
}

.l-hero__title--hidden {
    right: 50px;

    opacity: 0;
}

.c-hero__subtitle {
    position: relative;

    display: block;

    font-size: 48px;
    font-style: normal;

    transition-duration: 1200ms
}

.l-hero__subtitle {
    margin-top: 15px;
}

.l-hero__subtitle--hidden {
    left: 250px;
}

.c-hero__cta {
    position: relative;

    color: $color__emphasis;
    font-size: 34px;
    font-style: italic;
    text-decoration: none;

    opacity: 1;
    transition-duration: 600ms
}

.l-hero__cta {
    display: inline-block;

    margin-top: 80px;
    padding: 0;

    opacity: 1;
}

.l-hero__cta--hidden {
    right: 150px;
    opacity: 0;
}

@include media-breakpoint-down(xs) {
    .l-hero {
        min-height: 70vh;
        margin-top: 60px;
    }
    .c-hero__intro {
        font-size: 46px;
    }
    .c-hero__title {
        font-size: 56px;
    }
    .l-hero__title {
        margin-top: 50px;
    }
    .c-hero__subtitle {
        font-size: 38px;
    }
    .l-hero__cta {
        display: block;
        text-align: center;
    }
}