.c-hero {

}

.l-hero {
    margin-top: 125px;
}

.c-hero__intro {
    background-color: rgba(255, 243, 233, 0);
    position: relative;
    right: 0;

    font-size: 50px;
    font-weight: 100;
    text-align: center;

    opacity: 1;
    transition-duration: 800ms;
    transition-delay: 0s, 800ms;
    transition-property: opacity, background-color;
}

.l-hero__intro {
    margin-bottom: 0;
}

.c-hero__intro--hidden {
    opacity: 0;
}

.c-hero__title {
    position: relative;

    font-size: 72px;
    font-style: italic;
    font-weight: 400;

    opacity: 1;
    transition-duration: 1200ms;
}

.l-hero__title {
    margin-top: 42px;
}

.l-hero__title--hidden {
    right: 50px;

    opacity: 0;
}

.c-hero__main-title {
    height: unset;
}

.l-hero__main-title {
    display: block;
    padding-top: .15em;
    position: relative;
    height: 1.15em;
    width: 100%;
    .l-hero__main-text {
        display: block;
        overflow: hidden;
        height: 1em;
        position: relative;
        z-index: 2;

        transition-duration: 400ms;
        transition-delay: 1400ms;
        transition-property: height;
    }
    .l-hero__main-bg {
        content: " ";
        background-color: $color__brey;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        transition-duration: 500ms, 500ms, 500ms;
        transition-delay: 0s, 700ms, 500ms;
        transition-property: right, left, top;
    }
}

.l-hero__main-title--hidden {
    .l-hero__main-text {
        height: 0;
    }
    .l-hero__main-bg {
        left: -1000px;
        right: 1000px;
        top: -25px;
    }
}

.c-hero__subtitle {
    color: $color__black;
    position: relative;

    display: none;

    font-size: 48px;
    font-style: normal;

    transition-duration: 1200ms;
}
.l-hero__subtitle {
    position: relative;
    display: block;
    padding-top: .15em;
    height: 1.15em;
    width: 100%;
    .l-hero__sub-bg {
        content: " ";
        background-color: $color__off-white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        transition-duration: 500ms, 500ms, 500ms;
        transition-delay: 0s, 700ms, 500ms;
        transition-property: left, right, bottom;
    }
    .l-hero__sub-text {
        display: block;
        overflow: hidden;
        height: 1em;
        position: relative;
        z-index: 2;

        transition-duration: 400ms;
        transition-delay: 2000ms;
        transition-property: height;
    }
}



.l-hero__subtitle--hidden {
    .l-hero__sub-bg {
        left: 1000px;
        right: -1000px;
        bottom: -25px;
    }
    .l-hero__sub-text {
        height: 0;
    }
}

.c-hero__cta {
    position: relative;

    color: $color__emphasis;
    font-size: 34px;
    font-style: italic;
    text-decoration: none;

    opacity: 1;
    transition-duration: 600ms
}

.l-hero__cta {
    display: inline-block;

    margin-top: 80px;
    padding: 0;

    opacity: 1;
}

.l-hero__cta--hidden {
    right: 150px;
    opacity: 0;
}

@include media-breakpoint-down(xs) {
    .l-hero {
        min-height: 70vh;
        margin-top: 60px;
    }
    .c-hero__intro {
        font-size: 46px;
    }
    .c-hero__title {
        font-size: 56px;
    }
    .l-hero__title {
        margin-top: 50px;
    }
    .c-hero__subtitle {
        font-size: 38px;
    }
    .l-hero__cta {
        display: block;
        text-align: center;
    }
}