.c-main-nav__menu {
    opacity: 0;

    position: relative;
    left: 100px;

    transition-duration: 800ms;
}

.c-main-nav__logo {
    float: left;
}

.c-main-nav__menu-item {
    float: left;

    margin-left: 4em;

    color: $color__off-white;
    font-size: $font-size__24;
    font-weight: 300;

    list-style-type: none;

    &:first-of-type {
        margin-left: none;
    }

    a {
        color: inherit;
    }
}

.c-main-nav__menu-item--emphasis {
    color: $color__emphasis;
    font-style: italic;
    font-weight: 400;

    a:hover {
        background-color: $color__emphasis;
        color: $color__black;

        opacity: 1;
    }

    a:hover {
        transition-duration: 0ms;
    }
}

.l-main-nav {
    padding-top: 1em;
}

.l-main-nav__menu-container {
    float: right;
}


@include media-breakpoint-up(sm) {
    .c-main-nav__menu-toggle {
        display: none;
    }
}

@include media-breakpoint-down(xs) {
    .c-main-nav__menu-container {
        background-color: rgba(64, 64, 64, .5);
    }

    .l-main-nav__menu-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .c-main-nav__menu {
        background-color: $color__black;        
    }
    .l-main-nav__menu {
        margin: 0;
        padding-left: 0;

        position: absolute;
        top: 0;
        left: 58% !important;
        right: 0;
        bottom: 0;

        z-index: 4;
    }
    .c-main-nav__menu-item {
        color: $color__off-white;
        font-size: 38px;
        text-align: center;
    }
    
    .l-main-nav__menu-item {
        float: initial;
        margin-left: 0;
        margin-top: 50px;
    }
}