.c-main-nav__menu {
    position: relative;
    
    transition-duration: 800ms
}

.l-main-nav__menu {
    left: 0;
}

.l-main-nav__menu--hidden {
    opacity: 0;
    left: 100px;
}

.c-main-nav__logo {
    float: left;
}

.c-main-nav__menu-item {
    float: left;

    margin-left: 4em;

    color: $color__off-white;
    font-size: $font-size__24;
    font-weight: 300;

    list-style-type: none;

    &:first-of-type {
        margin-left: none;
    }

    a {
        color: inherit;
    }
}

.c-main-nav__menu-item--emphasis {
    color: $color__emphasis;
    font-style: italic;
    font-weight: 400;

    a:hover {
        background-color: $color__emphasis;
        color: $color__black;

        opacity: 1;
    }

    a:hover {
        transition-duration: 0ms;
    }
}

.l-main-nav {
    padding-top: 1em;
}

.l-main-nav__menu-container {
    float: right;
}


@include media-breakpoint-up(sm) {
    .c-main-nav__menu-toggle {
        display: none;
    }
}

@include media-breakpoint-down(xs) {
    .c-main-nav__menu-container {
        background-color: rgba(64, 64, 64, .5);
        transition-duration: 600ms;
    }

    .l-main-nav__menu-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }

    .l-main-nav__menu-container--hidden {
        left: 100%;
    }

    .c-main-nav__menu {
        background-color: $color__black;     

        opacity: 1;
        transition-duration: 400ms;
        transition-delay: 100ms;
        transition-property: all;
    }

    .l-main-nav__menu {
        display: block;
        
        margin: 0;
        padding-left: 0;

        position: absolute;
        top: 0;
        left: 58%;
        right: 0;
        bottom: 0;

        z-index: 5;
    }

    .l-main-nav__menu--hidden {
        left: 100%;
        overflow: hidden;
    }

    .c-main-nav__menu-item {
        color: $color__off-white;
        font-size: 38px;
        text-align: center;
    }

    .l-main-nav__menu-item {
        float: initial;
        margin-left: 0;
        margin-top: 50px;
        &:first-of-type {
            margin-top: 100px;
        }
    }

    .c-main-nav__menu-toggle {
        border: 0;
        background-color: rgba(255,255,255,0);
        background-image: url('../kn-webwork-3.0/img/1x/burgers.png');
        position: absolute;
        right: 5%;
        top: 30px;
        z-index: 6;
        width: 45px;
        height: 23px;
    }
    .c-main-nav__menu-toggle--clicked {
        background-image: url('../kn-webwork-3.0/img/1x/ex.png');
        height: 33px;
        width: 33px;
    }
}