.c-main-nav__menu {
    opacity: 0;

    position: relative;
    left: 100px;

    transition-duration: 800ms;
}

.c-main-nav__logo {
    float: left;
}

.c-main-nav__menu-item {
    float: left;

    margin-left: 4em;

    color: $color__off-white;
    font-size: $font-size__24;
    font-weight: 300;

    list-style-type: none;

    &:first-of-type {
        margin-left: none;
    }

    a {
        color: inherit;
    }
}

.c-main-nav__menu-item--emphasis {
    color: $color__emphasis;
    font-style: italic;
    font-weight: 400;

    a:hover {
        background-color: $color__emphasis;
        color: $color__black;

        opacity: 1;
    }
}

.l-main-nav {
    padding-top: 1em;
}

.l-main-nav__menu-container {
    float: right;
}


@include media-breakpoint-up(sm) {
    .c-main-nav__menu-toggle {
        display: none;
    }
}