.l-projects {
    display: flex;
    flex-flow: row wrap;

    &::after {
        content: " ";
        flex: 1 0 34%;
        margin-left: 2.5%;
    }
}
.c-projects__project {
    background-color: $color__off-white;
}

.l-projects__project {
    flex: 1 0 34%;

    margin-left: 2.5%;
    margin-top: 5%;

    overflow: hidden;
    position: relative;

    &:first-of-type,
    &:nth-of-type(2) {
        margin-top: 0;
    }
    &:nth-child(odd) {
        margin-left: 0;
        margin-right: 2.5%;
    }
    &::before {
        content: " ";
        display:inline-block;
        padding-top: 100%;
        vertical-align:middle;
    }
}

.l-projects__screenshot {
    height: 100%;
    position: absolute;
    z-index: 1;
}

.c-projects__overlay {
    background-color: $color__off-white;

    transition: 800ms;
}

.l-projects__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    
    overflow: hidden;
    z-index: 4;
}

.c-projects__project {
    &:hover {
        .l-projects__overlay {
            right: 0;
        }
        .l-projects__name {
            height: 0;
            padding: 0;
        }
    }
}

.c-projects__tech-list {
    color: $color__black;

    font-size: 30px;
    font-weight: 300;
    line-height: 50px;

    list-style-type: none;
    li:first-of-type {
        font-weight: 400;
    }
}

.l-projects__tech-list {
    margin: 25px;
    padding: 0;

    position: absolute;
    bottom: 0;
}

.c-projects__name {
    background-color: $color__black;
    color: $color__off-white;

    font-size: 30px;
    font-weight: 300;
    text-align: center;

    overflow: hidden;
    text-transform: uppercase;
    transition: 300ms;
}

.l-projects__name {
    margin: 0;
    padding-top: .25em;
    padding-bottom: .1em;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    transform: translateY(-50%);
    z-index: 3;
}

@include media-breakpoint-down(xs) {
    .l-projects {
        flex-flow: column;
    }

    .l-projects__project {
        margin: 0;
        margin-top: 2.5em;
        &:first-of-type {
            margin-top: 0;
            margin-right: 0;
        }
        &:nth-of-type(2) {
            margin-top: 2.5em;
        }
    }
}