$baseTime: 150;
$totalTime: $baseTime * 6 + $baseTime * 4 + $baseTime / 2;

/*
.l-profile--expanded {
    border: 5px solid #ffffff;
    padding: 0;
    max-width: 100%;
    flex: 1;
    overflow: hidden;

    .c-profile__bio {
        display: block;
    }
}

.l-profile--half-expanded {
    transition-duration: 50ms;
    transition-property: padding-bottom;

    border: 5px solid #ffffff;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}*/

.l-profile--spacer {
    flex: 1;
}

.shrink {
    margin-right: 1 / 12 * 100%;
}

.l-profile--shrunk {
    overflow: hidden;
    position: relative;
    max-width: 0;
    margin: 0;
    
    //transition-duration: $baseTime * 6  + 0ms, $baseTime * 6 + 0ms, $baseTime * 2 + 0ms;
    // transition-delay: 1ms, 10ms, $baseTime * 60 + 0ms;
    transition-duration: $baseTime * 1.5 + 0ms, $baseTime * 2 + 0ms, $baseTime * 2 + 0ms;
    transition-delay: 0s, 0ms, $baseTime * 2 + 0ms;
    transition-property: margin-left, max-width, margin-right;
    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.l-profile--unshrinking {
    padding: 5px;
    margin-left: 1 / 12 * 100%;
    margin-right: 1 / 12 * 100%;
    max-width: 100%;
    transition-delay: 0s, 200ms, 250ms, 850ms;
    transition-duration: 200ms, 50ms, 600ms, 200ms;
    transition-property: margin-right, padding, max-width, margin-left;
}

.c-profile.l-profile--expanded .c-profile__dev, 
.c-profile.l-profile--half-expanded .c-profile__dev {
    display: block;
}

.c-profile.l-profile--expanded .c-profile__dev--hover, 
.c-profile.l-profile--half-expanded .c-profile__dev--hover {
    display: none;
}