.l-profile__bio {
    position: absolute;
    top: 0;
    left: 100%;
    width: 500px;
    padding-left: 8%;
    padding-right: 8%;
    display: none;
}

.l-profile__proficiencies {
    width: 80%;
    height: 90px;
    margin: auto;
    margin-top: 2em;
    background-color: #555;
    content: " ";
}

.l-profile__close {
    position: absolute;
    top: 20px;
    right: 40px;
}

.l-profile__social {
    position: absolute;
    bottom: -80px;
    width: 90%;
    height: 70px;
    background-color: pink;
}