.c-profile {
    cursor: crosshair;
    position: relative;
}

.c-profile:hover {
    //border: 5px solid #ffffff;
}

.l-profile {
    padding: 0;
}

.l-profile:hover {
    .l-profile__border {
        border: 5px solid #ffffff;
    }
}

.c-profile__preview {
    position: relative;
}

.l-profile__preview {
    max-width: 274px;
}

.c-profile__dev {
    max-width: 274px;
    display: block;
}

.c-profile:hover .c-profile__dev {
    display: none;
}

.c-profile__dev--hover {
    display: none;
    max-width: 100%;
}

.c-profile:hover .c-profile__dev--hover {
    display: block;
}


.c-profile__spacer {
    flex: 1;
    content: " ";
}

.shrink {

    .l-profile__preview {
        margin-right: 0;
        margin-left: auto;
    }
    
}
