.l-profile__bio {
    position: absolute;
    top: 0;
    left: 300px;
    width: 500px;
    padding-top: 30px;
}

.l-profile__bio-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 11px;
    bottom: 0;
    z-index: 3;
}

.c-profile__bio-name {
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
}

.l-profile__bio-name {
    margin-bottom: 0;
}

.c-profile__bio-title {
    font-size: $font-size__14;
    font-weight: 400;
}

.l-profile__bio-title {
    margin-top: 12px;
}

.c-profile__bio-full {
    font-size: $font-size__15;
    line-height: 1.2em;
}

.c-profile__proficiencies {
    font-size: $font-size__18;
    font-weight: 600;
    background-color: initial;
}

.c-profile__close {
    background-color: initial;
    border: initial;
}

.l-profile__proficiencies {
    width: 80%;
    margin: auto;
    margin-left: 0;
    margin-top: 2em;
}

.c-profile__proficiency-1 {
    color: $color__prof-1;
}

.c-profile__proficiency-2 {
    color: $color__prof-2;
}

.c-profile__proficiency-3 {
    color: $color__prof-3;
}

.c-profile__proficiency-4 {
    color: $color__prof-4;
}

.l-profile__border {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.l-profile__close {
    position: absolute;
    top: 20px;
    right: 40px;
}

@include media-breakpoint-down(lg) {
    .l-profile__preview {
        position: initial;
    }
    .l-profile__border {
        display: none;
    }
    .c-profile__overlay {
        display: none;
    }
    .c-profile__close {
        display: none;
    }
    .l-profile__spacer {
        display: none;
    }
    .l-profile__bio-wrapper {
        right: 0;
    }
    .l-profile__bio {
        left: 0;

        width: 100%;
        padding-left: 305px;
        padding-top: 0;
    }

    .l-profile__bio-name {
        margin-top: 0;
    }

    .c-profile {
        cursor: initial;
    }

    .c-profile:hover .c-profile__dev {
        display: block;
    }
    .c-profile:hover .c-profile__dev--hover {
        display: none;
    }
    .c-profile:nth-of-type(3) {
        margin-top: 70px;
    }

    .c-profile__bio-full {
        line-height: 1.5em;
    }
}