.c-profile {
    cursor: crosshair;
    position: relative;
}

.l-profile--expanded {
    //

    .l-profile__bio-wrapper {
        border: 5px solid #ffffff;
        width: 1000px;
    }
}

.c-profile:hover {
    //border: 5px solid #ffffff;
}

.l-profile {
    padding: 0 !important;
}

.c-profile__border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #fff;
    z-index: 5;
    max-width: 274px;
}

.l-profile.working {

}

.l-profile:hover {
    //padding: 0;
}

.c-profile__preview {
    position: relative;
}

.l-profile__preview {
    max-width: 274px;
}

.c-profile__dev {
    max-width: 274px;
    display: block;
}

.c-profile:hover .c-profile__dev {
    display: none;
}

.c-profile__dev--hover {
    display: none;
    max-width: 100%;
}

.c-profile:hover .c-profile__dev--hover {
    display: block;
}


.c-profile__spacer {
    flex: 1;
    content: " ";
}

.shrink {

    .l-profile__preview {
        margin-right: 0;
        margin-left: auto;
    }
    
}
