.c-profile {
    cursor: crosshair;
    position: relative;
}

.c-profile--expanded {
    border: 5px solid #ffffff;
}

.c-profile:hover {
    border: 5px solid #ffffff;
}

.l-profile {
    padding: 5px;

}

.l-profile.working {
    img {
        max-width: 274px;
    }
}

.l-profile:hover {
    padding: 0;
}

.c-profile__preview {
    position: relative;
}

.l-profile__preview {
    max-width: 274px;
}

.c-profile__dev {
    max-width: 100%;
    display: block;
}

.c-profile:hover .c-profile__dev {
    display: none;
}

.c-profile__dev--hover {
    display: none;
    max-width: 100%;
}

.c-profile:hover .c-profile__dev--hover {
    display: block;
}

.speshul {
    max-width: initial;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 275px;
}

