$baseTime: 300;
$totalTime: $baseTime * 1 + $baseTime * 5 + $baseTime * 1;

.l-profile--spacer {
    flex: 1;
}

.l-profile--contracting {

}

.l-profile--expanded {
    cursor: initial;
}

.c-profile--right {
    margin-right: 1 / 12 * 100%;
}

.l-profile {
    position: relative;

    transition-duration: $baseTime * .19 + 0ms, $baseTime * .47 + 0ms, $baseTime * .23 + 0ms;
    transition-delay: 0s, $baseTime * .19 + 0ms, $baseTime * .62 + 0ms;
    transition-timing-function: linear;
    transition-property: margin-left, max-width, margin-right;
}

.l-profile--shrunk.c-profile--right {
    transition-duration: $baseTime * .19 + 0ms, $baseTime * .47 + 0ms, $baseTime * .23 + 0ms;
    transition-delay: 0s, $baseTime * .19 + 0ms, $baseTime * .62 + 0ms;
    transition-timing-function: linear;
    transition-property: margin-left, max-width, margin-right;
}

.l-profile--shrunk {
    overflow: hidden;
    max-width: 0;
    margin: 0;
    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .l-profile__social,
    .l-profile__border {
        display: none !important;
    }
}

.l-profile--contracting {
    cursor: initial;
    .l-profile__bio-wrapper {
        transition-duration: $baseTime * 1 + 0ms, 500ms, 400ms, 400ms, 0s;
    }
}

.l-profile__bio-wrapper {
    transition-duration: $baseTime * 1.1 + 0ms, 500ms, 400ms, 400ms, 0s;
    transition-timing-function: linear;
    transition-property: right, bottom, top, left, width;
}


.l-profile__border {
    transition-duration: $baseTime * 1.05 + 0ms, 500ms, 400ms, 400ms, 0s;
    transition-timing-function: linear;
    transition-property: right, bottom, top, left, width;
}

.l-profile--half-expanded .l-profile__border {
    border: 5px solid #fff;
}

.l-profile--expanded .l-profile__border {
    width: initial;
    
    border: 5px solid $color__off-white;
    
    right: -600px;
    bottom: -70px;
    top: -30px;
    left: -50px;
}
.l-profile--expanded .l-profile__bio-wrapper {
    width: initial;
    right: -600px;
}

.l-profile--contracting .l-profile__border {
    border: 5px solid $color__off-white;
}

.c-profile--right.l-profile--unshrinking {
    margin-left: 8.33333%;
    margin-right: 8.33333%;
    max-width: 25%;
    transition-duration: $baseTime * .19 + 0ms, $baseTime * .50 + 0ms, $baseTime * .19 + 0ms;
    transition-delay: $baseTime * .70 + 0ms, $baseTime * .38 + 0ms, 0s;
    transition-property: margin-left, max-width, margin-right;
}

.c-profile.l-profile--expanded .c-profile__dev, 
.c-profile.l-profile--contracting .c-profile__dev,
.c-profile.l-profile--shrunk .c-profile__dev, {
    display: block;
}

.c-profile.l-profile--expanded .c-profile__dev--hover, 
.c-profile.l-profile--contracting .c-profile__dev--hover,
.c-profile.l-profile--shrunk .c-profile__dev--hover,
.c-profile.l-profile--shrunk .c-profile__overlay,
.l-profile--contracting .c-profile__overlay {
    display: none;
}
