.l-profile__bio {
    position: absolute;
    top: 0;
    left: 280px;
    width: 500px;
    padding-left: 8%;
    padding-right: 8%;
}

.l-profile__bio-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 274px;

    transition-duration: 500ms;
    transition-property: width;
}

.l-profile__proficiencies {
    width: 80%;
    height: 90px;
    margin: auto;
    margin-top: 2em;
    background-color: #555;
    content: " ";
}

.l-profile__close {
    position: absolute;
    top: 20px;
    right: 40px;
}

.l-profile__social {
    position: absolute;
    bottom: -100px;
    width: 90%;
    height: 70px;
    background-color: pink;
    max-width: 274px;
}