$baseTime: 500;
$totalTime: $baseTime * 1 + $baseTime * 5 + $baseTime * 1;

.c-profile--left {
    position: relative;

    transition-duration: $baseTime * .47 + 0ms, $baseTime * .19 + 0ms;
    transition-delay: $baseTime * .19 + 0ms, $baseTime * .66 + 0ms;
    transition-timing-function: linear;
    transition-property:  max-width, margin-left;
}

.c-profile--right {
    transition-duration: $baseTime * .19 + 0ms, $baseTime * .47 + 0ms, $baseTime * .23 + 0ms;
    transition-delay: 0s, $baseTime * .19 + 0ms, $baseTime * .62 + 0ms;
    transition-timing-function: linear;
    transition-property: margin-right, max-width, margin-left;

    .l-profile__bio-wrapper {
        transition-duration: $baseTime * 1.1 + 0ms, 500ms, 400ms, 400ms, 0s;
        transition-timing-function: linear;
        transition-property: left, bottom, top, right, width;
    }
    .l-profile__border {
        right: 0;

        transition-duration: $baseTime * 1.05 + 0ms, 500ms, 400ms, 400ms, 0s;
        transition-timing-function: linear;
        transition-property: left, bottom, top, right, width;
    }

    .l-profile__bio-wrapper {
        right: 0;
    }

    .l-profile__bio {
        right: 300px;
        left: initial;
    }
}

.c-profile--left.l-profile--shrunk {
    img {
        left: 0;
        right: initial;
    }
}


.l-profile--contracting {
    .l-profile__bio-wrapper {
        transition-duration: $baseTime * 1 + 0ms, 500ms, 400ms, 400ms, 0s;
    }
}

.c-profile--right.l-profile--expanded .l-profile__border {
    width: initial;
    
    border: 5px solid #ffffff;
    
    right: -50px;
    bottom: -100px;
    top: -30px;
    left: -600px;
}
.c-profile--right.l-profile--expanded .l-profile__bio-wrapper {
    width: initial;
    left: -600px;
    right: 0;
}

.c-profile--left.l-profile--unshrinking {
    margin-left: 25%;
    margin-right: 0;
    max-width: 25%;
    transition-duration: $baseTime * .19 + 0ms, $baseTime * .50 + 0ms;
    transition-delay: 0s, $baseTime * .4 + 0ms, 0s;
    transition-property: margin-left, max-width;
}